form{
    width: 30vw;
    height: 70vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.group{
    display: flex;
    justify-content: space-between;
}